<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.summer.homework.dao.cascade.TeacherCourseDao">
    <cache-ref namespace="cn.summer.homework.dao.UserDao"/>
    <!--查询指定老师的所有授课-->
    <select id="selectByTID" parameterType="integer" resultType="cn.summer.homework.PO.TeacherCourse">
        select *
        from teacher_course
        where tid = #{tid};
    </select>
    <!--查询指定课程的授课老师-->
    <select id="selectByCID" parameterType="integer" resultType="cn.summer.homework.PO.TeacherCourse">
        select *
        from teacher_course
        where cid = #{cid};
    </select>
    <!--精准查找-->
    <select id="accurateSelect" parameterType="cn.summer.homework.PO.TeacherCourse" resultType="integer">
        select count(*)
        from teacher_course
        where tid = #{tid}
          and cid = #{cid};
    </select>
    <!--老师新授课-->
    <insert id="addNewCourse" parameterType="cn.summer.homework.PO.TeacherCourse">
        insert into teacher_course
        values (#{tid}, #{cid});
    </insert>
    <!--老师销号-->
    <delete id="deleteByTID" parameterType="integer">
        delete
        from teacher_course
        where tid = #{tid};
    </delete>
    <!--删除课程-->
    <delete id="deleteByCID" parameterType="integer">
        delete
        from teacher_course
        where cid = #{cid};
    </delete>
    <!--删除指定老师的指定课程-->
    <delete id="accurateDelete" parameterType="cn.summer.homework.PO.TeacherCourse">
        delete
        from teacher_course
        where cid = #{cid}
          and tid = #{tid};
    </delete>
</mapper>